
td{
	width: 100px;
	height : 100px;
	position: relative;
}

.liveButton{
	position: absolute;
	z-index :2;
	left: 0;
	top:0;
}
.liveInput{
	position: absolute;
	z-index :2;
	left: 23px;
	top:0;
}

td .img{
	width: 90px;
	height: 100px;
	position: absolute;
	z-index :1;
	top:0px;
	padding-bottom: 20px;
}
.list_detail{
	display: none;
}
